bleach==3.1.1
captcha==0.2.4
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
language-selector==0.1
Markdown==2.6.11
matplotlib==2.1.2
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==5.0.0
protobuf==3.5.1
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-systemd==231
pytz==2017.3
requests==2.9.1
scipy==1.0.0
six==1.11.0
ssh-import-id==5.5
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
Werkzeug==0.14.1
